@import "../../assets//css/App.css";

#custom-select {
  display: flex;
  justify-content: space-between;
  align-items: end;

  svg {
    margin-left: var(--padding);
  }

  span {
    text-transform: capitalize;
    text-wrap: nowrap;
  }

  #options-container {
    position: absolute;
    top: 100%;
    background-color: var(--primary-bg-color);
    border-radius: var(--border-radius);
    padding: calc(var(--padding) * 2);
    left: 0;
    right: 0;
    box-shadow: var(--box-shadow);
    z-index: 1;
    border: 1.5px solid var(--special-color);

    span:hover {
      color: var(--notify-color);
      cursor: pointer;
    }

    div:last-child {
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 20px;
      overflow-y: scroll;
      max-height: 50vh;
    }
  }
}
