@import "../css/fonts.css";

:root {
  --primary-bg-color: #e7dede;
  --secondary-bg-color: #19191a;
  --title-color: #292828;
  --primary-color: #000000;
  --secondary-color: #1d1d1d;
  --warning-color: #dd7819;
  --success-color: #529b52;
  --danger-color: #f8505990;
  --notify-color: #383864;
  --special-color: #2a909b;
  --header-shadow: 2px 2px 10px 7px #999696;
  --box-shadow: 2px 2px 10px #c2c2c2;
  --big-box-shadow: 4px 4px 10px #000;
  --text-shadow: 1px 1px 1px var(--primary-bg-color);
  --border-color: #eeeeee;

  --padding: 5px;
  --border-radius: var(--padding);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-bg-color);
  overflow-y: scroll;
}

h1 {
  font-family: "Lumanosimo";
}

p {
  font-family: "Cabin";
}

span {
  font-family: "Cabin italic";
}

#root {
  display: flex;
  flex-direction: column;
}

.App {
  gap: 10px;
  padding: 0 10px;
}

.bigDevice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.littleDevice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.responsive-image {
  display: flex;
  height: auto;
}

.alert {
  color: var(--danger-color);
}

.selected-language {
  color: var(--special-color);
  text-decoration: underline;
}
