/*title font*/
@font-face {
    font-family: "Lumanosimo";
    src: url("../fonts/Lumanosimo/Lumanosimo-Regular.ttf");
    font-weight: "400";
  }

  /*text font*/
  @font-face {
    font-family: "Cabin";
    src: url("../fonts/Cabin/Cabin-VariableFont_wdth\,wght.ttf");
    font-weight: "400";
  }
  /*italic CAbin*/
  @font-face {
    font-family: "Cabin italic";
    src: url("../fonts/Cabin/Cabin-Italic-VariableFont_wdth\,wght.ttf");
    font-weight: "400";
    font-style: italic, oblique;
  }