@import "../../assets/css/App.css";

.custom-textarea {
  height: "300px";

  textarea {
    padding: calc(var(--padding) * 3);
    max-width: 100%;
    min-width: 100%;
    min-height: 220px;
    max-height: 220px;
    border: none;
    border-radius: 10px;

    &:focus-visible {
      outline: 1px solid #4da5af;
    }
  }

  p{
    text-align: right;
    margin: 0 20px 10px 0;
    font-size: 13px;
  }
}
